#titlE{
    background-color: rgb(255, 0, 123);
    color: aliceblue;
    text-align: center;
}
#inT{
    color: rgb(255, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#icoN{
    width: 100px;
}